@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}
:root {
    --font-bold: 'Archivo Black', sans-serif;
    --font-cursiva: 'Tangerine', cursive;
    --blanco: #fff;
    --amarillo: #fffb00;
    --purpura: #7142de;
    --purpura-oscuro: #341f66;
    --negro: #000000;
    --colorado: #e6206c;
    --degratato-1: #ff3967;
    --degratato-2: #fc755a;
}

/*- - - - - H E A D E R - - -  -*/

.header {
    width: 100%;
    height: 4rem;
    position: fixed;
    top: 0rem;
    /* background-color: var(--blanco); */
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    z-index: 5;
}
.header .nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    /* background-color: palegreen; */
}
.header .nav .nav__logo {
    width: auto;
    height: 55%;
    position: absolute;
    left: 3rem;
}
.header .nav .nav__logo img {
    height: 100%;
    width: auto;
}
.header .nav .nav__logo:hover {
    transform: scale(1.2);
    transition: all 300ms ease;
}
.header .nav .nav__lists {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 4rem;
}
.header .nav .nav__list {
    display: flex;
    align-items: center;
    gap: 3rem;
}
.header .nav .nav__list li {
    list-style: none;
}
.header .nav .nav__list li a {
    color: var(--blanco);
    text-decoration: none;
    /* text-transform: uppercase; */
    font-size: 1.5rem;
    font-style: none;
    font-weight: bold;
}
.header .nav .nav__list li a p:hover {
    /* border-bottom: 1px solid var(--blanco); */
    transform: scale(1.2);
    transition: all 300ms ease-in-out;
}

/*- - - - C O N T A I N E R - - - - - */
.container {
    width: 100%;
    height: 100vh;
}
/*- - - - - C T A - - - - -*/
.cta {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    /* font-weight: bold; */
    padding: 1rem;
    border-radius: 2rem;
    border: none;
    border-bottom: 2px solid var(--colorado);
    border-left: 2px solid var(--colorado);
    color: var(--purpura);
    /* background-color: #fff; */
    color: var(--blanco);
    background: rgb(255,57,103);
    background: linear-gradient(3deg, rgba(255,57,103,1) 11%, rgba(252,117,90,1) 100%);
}
/*- - - - - R E S L T A D O - - -  - -*/
.resaltado {
    color: #fffb00;
}
/*- - - S U A V E - - - */
.suave {
    font-weight: lighter !important;
}
/*- - - - P R E S E N T A C I O N  IZQUIERDA- - - - - */
#presentacion {
    width: 100%;
    height: 100vh;
    background-image: url(../media/img/header-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: yellow;
    position: relative;
    /* z-index: -2; */
}
#presentacion .presentacion__box {
    width: 95%;
    height: 100%;
    padding: 2rem;
    padding-top: 7rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    overflow: hidden;
    /* background-color: rebeccapurple; */
}
.presentacion__box .container__presentacion {
    width: 100%;
    height: auto;
}
.presentacion__box .container__presentacion h3 {
    font-size: 2rem;
    font-weight: bold;
    /* font-weight: lighter; */
    text-align: center;
    color: var(--blanco);
    margin-top: 1rem;
    margin-top: 5rem;
}
.presentacion__box .container__presentacion h2 {
    font-family: var(--font-bold);
    font-size: 5rem;
    line-height: -5;
    letter-spacing: 0.1rem;
    /* font-weight: bold; */
    text-align: center;
    text-transform: uppercase;
    color: var(--amarillo);
}
.presentacion__box .container__presentacion p {
    font-size: 2rem;
    margin-top: 2rem;
    color: var(--blanco);
    text-align: center;
    margin-top: 0rem;
}
.presentacion__box .container__presentacion span {
    color: var(--blanco);
    font-weight: lighter;
}
.presentacion__box .container__presentacion .conoce {
    width: 100%;
    height: 5rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.presentacion__box .container__presentacion .conoce .cta {
    /* font-weight: 800; */
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 5rem;
    padding-left: 5rem;
    cursor: pointer;
}

/*- - - P R E S E N T A C I O N DERECHA----*/
.presentacion__box .container__derecha {
    width: 100%;
    height: 100%;
    /* background-color: red; */
}
.presentacion__box .container__derecha .presentacion__img {
    width: 100%;
    height: auto;
    /* background-color: #7a08a7; */
}
.presentacion__box .container__derecha img {
    width: 60%;
    min-width: 60rem;
    height: auto;
    position: absolute;
    right: 0;
}
.presentacion__box .container__derecha .laptop {
    filter: drop-shadow(3px 19px 5px rgba(0, 0, 0, 0.56));
    /* z-index: -1; */
}
.presentacion__box .container__derecha .celular {
    width: 40%;
    height: auto;
    position: absolute;
    right: -8rem;
    bottom: -10rem;
}
/*----- W A V E ----*/
#presentacion .wave {
    width: 100%;
    height: 10rem;
    position: absolute;
    bottom: 0;
    background: rgb(113,66,222);
background: linear-gradient(3deg, rgba(113,66,222,1) 35%, rgba(255,255,255,0) 62%);
}
#presentacion .wave img {
position: absolute;
bottom: 0;
}
#celu {
    z-index: 2;
}
/*- - - - - H A C E M O S - - - -  -*/
#hacemos {
    background-color: var(--purpura);
}
.container .hacemos__box {
    width: 95%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    margin: 0 auto;
    overflow: hidden;
}
.container .hacemos__box .hacemos__tarjeta-1 {
    width: 95%;
    min-width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hacemos__box .hacemos__tarjeta-1 h2 {
    margin-top: 10rem;
    margin-bottom: 2rem;
    font-family: var(--font-bold);
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--blanco);
}
.hacemos__box .hacemos__tarjeta-1 .hacemos__info {
    width: 90%;
}
.hacemos__box .hacemos__tarjeta-1 p {
    padding: 1rem;
    text-align: center;
    color: var(--blanco);
}
.container .hacemos__box .hacemos__tarjeta-1 .hacemos__cta {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .hacemos__box .hacemos__tarjeta-1 .hacemos__cta a {
    width: 60%;
    text-align: center;
    margin-top: 2rem;
}
.container .hacemos__box .hacemos__tarjeta-2 {
    width: 95%;
    min-width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
.container .hacemos__box .hacemos__tarjeta-2 img {
    width: 120%;
    height: auto;
}

/*- - - - R E C I B I R A S - - - - */
#recibiras {
    background-color: var(--purpura);
    background-image: url('../media/img/bakiti.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.recibiras__box {
    width: 95%;
    height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    place-content: center;
    gap: 1rem;
}
.recibiras__box .recibiras__tarjeta {
    width: 80%;
    min-width: 25rem;
    height: 45rem;
    margin: 0 auto;
    border-radius: 2rem;
}
.recibiras__box .recibiras__tarjeta .recibiras__img {
    width: 20rem;
    height: 20rem;
    background: rgb(252,117,90);
    background: linear-gradient(3deg, rgba(252,117,90,1) 0%, rgba(255,255,255,1) 100%);

    margin: 0 auto;
    margin-top: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
}
.recibiras__box .recibiras__tarjeta .recibiras__img img {
    width: auto;
    height: 120%;
    margin: 0 auto;
}
.recibiras__box .recibiras__tarjeta h3 {
    text-align: center;
    text-transform: uppercase;
    font-family: var(--font-bold);
    margin-top: 2rem;
    padding: 1rem 0;
    color: var(--blanco);
    background: rgb(255,57,103);
    background: linear-gradient(3deg, rgba(255,57,103,1) 0%, rgba(252,117,90,1) 100%);
    width: auto;
}
.recibiras__box .recibiras__tarjeta p {
    padding: 2rem;
    font-weight: 400;
    text-align: center;
    margin-top: 2rem;
    line-height: 2rem;
    color: var(--blanco);
}
/*- - - - F I L T E R - - - - */
.filter {
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background-color: rgba(243, 243, 243, 0.13);
}
/*- - - - -  A D A P T A B L E - - - - - - */

#adaptable {
    width: 100%;
    height: 100vh;
    background-color: var(--purpura);
    display: flex;
    align-items: center;
    justify-content: center;
}
#adaptable .adaptable__box {
    width: 95%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    align-items: center;
}
#adaptable .adaptable__box .adaptable__info {
    width: 100%;
    height: auto;
    text-align: center;
}
#adaptable .adaptable__box .adaptable__info h2 {
    margin-bottom: 4rem;
    font-size: 6rem;
    font-weight: lighter;
    text-transform: uppercase;
    color: var(--blanco);
}
#adaptable .adaptable__box .adaptable__info p {
    padding: 2rem;
    color: var(--blanco);
    line-height: 2.5rem;
}
#adaptable .adaptable__box .adaptable__info p span {
    font-family: var(--font-bold);
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--amarillo);
}
#adaptable .adaptable__box .adaptable__info .icons {
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
}
#adaptable .adaptable__box .adaptable__info .icons img {
    width: auto;
    height: 100%;
}
#adaptable .adaptable__box .adaptable__info .icons img:hover {
    transform: scale(1.2);
    transition: 300ms ease-in-out;
}
#adaptable .adaptable__box .adaptable__img {
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: t1 2s ease infinite;
}
@keyframes t1 {
    0% {
        transform: translate(0);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0)
    }
}
#adaptable .adaptable__box .adaptable__img img {
    width: 80%;
    height: auto;filter: drop-shadow(37px 88px 5px rgba(0, 0, 0, 0.46));
}

/*- - - - - H O S T I N G - - - - -*/

#hosting {
    width: 100%;
    height: 80vh;
    background-image: url('../media/img/servers.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#hosting .hosting__box {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#hosting .hosting__box .hosting__info {
    padding-top: 5rem;
}
#hosting .hosting__box .hosting__info h2 {
    width: max-content;
    margin: 0 auto;
    padding: 1rem 2rem;
    font-size: 5rem;
    font-family: var(--font-bold);
    text-transform: uppercase;
    color: var(--blanco);
    background: rgb(255,57,103);
    background: linear-gradient(3deg, rgba(255,57,103,1) 0%, rgba(252,117,90,1) 100%);
}
#hosting .hosting__box .hosting__info h3 {
    font-size: 2rem;
    font-family: var(--font-bold);
    font-weight: bold;
    text-transform: uppercase;
    width: max-content;
    margin: 0 auto;
    margin-top: 3rem;
    color: var(--negro);
}
#hosting .hosting__box .hosting__info p{
    width: max-content;
    border-radius: 2rem;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 1rem 2rem;
    font-weight: 600;
    color: var(--negro);
    letter-spacing: 0.1rem;
}
#hosting .hosting__box .hosting__info .hosting__data {
    width: max-content;
    padding: 1rem;
    margin: 0 auto;
    color: var(--blanco);
    background-color: #ffffff4d;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

/*- - - - - E - M A I L - - - - -*/
#email {
    height: 80vh;
    background-color: var(--purpura);
    display: flex;
    align-items: center;
    justify-content: center;
}
#email .email__box {
    width: 95%;
    /* height: 60vh; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    place-items: center;
}
#email .email__box .email__info {
    width: max-content;
    padding: 1rem 2rem;
    margin: 0 auto;
    text-align: center;
}
#email .email__box .email__info h2 {
    font-weight: lighter;
    font-size: 8rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
    color: var(--blanco);
}
#email .email__box .email__info p {
    color: var(--blanco);
    font-size: 1.9rem;
    line-height: 3rem;
    letter-spacing: 0.1rem;
}
#email .email__box .email__img {
    width: 80%;
    height: auto;
    animation: t1 4s ease infinite;

}
#email .email__box .email__img img {
    width: 100%;
    height: auto;
}

/*- - - - F O R M - - - - */
#formulario {
    background-color: var(--purpura);
    display: flex;
    align-items: center;
    justify-content: center;
}
#formulario .formulario__box {
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#formulario .formulario__box form {
    background-color: #fff;
    width: 90%;
    max-width: 400px;
    margin: auto;
    border-radius: 1em;
    padding: 3.5em 1.5em;
}
#formulario .formulario__box form .form__container {
    width: 100%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
}
#formulario .formulario__box form .form__container .form__title {
    text-align: center;
    text-transform: uppercase;
    font-family: var(--font-bold);
    font-size: 1.9rem;
    margin-bottom: .4em;
    color: var(--purpura);
}
.formulario__box form .form__container .form__input {
    font-size: 1.8rem;
    padding: .8em 1em;
    outline: none;
    border: 1px solid var(--purpura);
}
.formulario__box form .form__container .form__input--mensaje {
    resize: none;
    padding: 1.8em 1em;
    margin-bottom: .5em;
}
#formulario .formulario__box .formulario__image {
    width: 90%;
    height: auto;
}
#formulario .formulario__box .formulario__image img {
    width: 100%;
    height: auto;
}

@media (max-width:450px) {
    .form {
        padding: 3.5em 1em;
    }
}